*.iml
.kotlin
.gradle
.gradle_temp
gradle_raw.log
gradle_clean.log
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Flatpak
.flatpak-builder/
build-dir/
distribution/flatpak/openaudiotools.deb